.menu{
    
    height: 1200px;
    width: 1000px;
    background-color: grey;
}
.cabecera{
    background-color: blue;
    font-size: xx-large;
    width: 1000px;
}

.button{
    background-color: cyan;
    padding: 1px;
    border: 1px;
    border-color: black;
    height: 40px;
    width: 200px;
}

.imagen1{
   
   
   
   width: 20%;
   
    padding-left: 60px;
    padding-top: 60px;
   
    alt:"Castillo de Bellver";
  
    

}
.hola:hover{
    filter: opacity(.5);
}

